# Flask application
Flask==2.2.2
Werkzeug==2.2.2
psycopg2-binary==2.9.3
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.41
Flask-Migrate==3.1.0

# Core ML + Image Processing
torch>=1.13.0
torchvision>=0.14.0
opencv-python
matplotlib
numpy>=1.26.4

# Tracking
norfair>=2.1.0
deep_sort_realtime

# Google Drive for model store
gdown==5.1.0
